@charset 'utf-8';
.page {
	width: 60%;
	margin: 2em auto;
}
.a-con {
	width: auto;
	height: 300px;
	overflow-y:scroll; 
	margin-bottom: 2em;
}
.b-title i{
	margin-right: 1em
}
.a-answer {
	border:1px #ccc solid;
	padding-bottom: 1em;
}
.a-as-btns>span {
	position: relative;
}

.selected {
	display: inline-block;
	position: absolute;
	right:.1em;
	top:2.2em !important;
}
.select {
	color: #fff
}
.a-as-options{
	width: 90%;
	border-color: #ccc;
}
.a-as-options td:hover {
	color: #6FD3F1;
}
.active {
	background-color: #6FD3F1;
	border-radius: .3em .3em 0 0;
	border:0 !important;
}
.checked {
	text-decoration: line-through
}
.disabled {
	color:#6FD3F1; 
}
.activeBtn {
	background-color: #6FD3F1 !important;

}
