@charset 'utf-8';
/* 容器类名 */
.page {
	width: 60%;
	margin: 2em auto;
}
.a-con {
	width: auto;
	height: 300px;
	overflow-y:scroll; 
	margin-bottom: 2em;
}
.b-title i{
	margin-right: 1em
}
.a-answer {
	border:1px #ccc solid;
	padding-bottom: 1em;
}
.a-as-btns>span {
	position: relative;
}
.a-as-options{
	width: 90%;
	border-color: #ccc;
}
.a-as-options td:hover {
	color: #6FD3F1;
}

.result {
	width:500px;
	height:600px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -300px;
	margin-left: -250px;
	background-color: #fff;
	z-index: 101
}
.reNumCon{
	width:80%;
	margin:0;
}
.reNumCon li {
	width:20%;
	margin:1.5em 0;
	background-color: #fff
}

/* 状态类名 */
.selected {
	display: inline-block;
	position: absolute;
	right:.1em;
	top:2.2em !important;
}
.select {
	color: #fff
}
.active {
	background-color: #6FD3F1;
	border-radius: .3em .3em 0 0;
	border:0 !important;
}
.checked {
	text-decoration: line-through
}
.disabled {
	color:#6FD3F1; 
}
.activeBtn {
	background-color: #6FD3F1 !important;

}
.correct {
	color:#76D4C2
}
.error {
	color:#FFA7BF
}
.textAnswer {
	background-color:#76D4C2;
	border-radius: .3em .3em 0 0;
	border:0 !important;
}
.textErr{
	background-color:#999;
	text-decoration: through;
	color: #f00;
	border-radius: .3em .3em 0 0;
	border:0 !important;
}
